Task 1: Try the algo on Same Weather dataset - OneHotEncoding of
features: and Train test Division 75%-25%

In [1]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
import sklearn.metrics as metrics

In [4]:
# import the data required
data = pd.read_csv("./Dataset.csv")
print(data.head())

  Outlook Temp Humidity Wind Play
0       R    H   Normal    F    N
1       R    H     High    T    N
2       O    H   Normal    F    Y
3       S    M   Normal    F    Y
4       S    C   Normal    F    Y

In [5]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Outlook', 'Temp','Wind','Humidity'])
one_hot_encoded_data

   Play  Outlook_O  Outlook_R  ...  Humidity_High  Humidity_Low  Humidity_Normal
0     N          0          1  ...              0             0                1
1     N          0          1  ...              1             0                0
2     Y          1          0  ...              0             0                1
3     Y          0          0  ...              0             0                1
4     Y          0          0  ...              0             0                1
5     N          0          0  ...              0             1                0
6     Y          1          0  ...              0             0                1
7     N          0          1  ...              0             0                1
8     Y          0          1  ...              0             1                0
9     Y          0          0  ...              1             0                0
10    Y          0          1  ...              1             0                0
11    Y          1          0  ...              0             1                0
12    Y          1          0  ...              0             0                1
13    N          0          0  ...              0             0                1

[14 rows x 12 columns]

In [6]:
newdata = one_hot_encoded_data.iloc[:,1:12]
newtarget = one_hot_encoded_data.iloc[:,0:1]
print(newdata)
print(newtarget)

    Outlook_O  Outlook_R  ...  Humidity_Low  Humidity_Normal
0           0          1  ...             0                1
1           0          1  ...             0                0
2           1          0  ...             0                1
3           0          0  ...             0                1
4           0          0  ...             0                1
5           0          0  ...             1                0
6           1          0  ...             0                1
7           0          1  ...             0                1
8           0          1  ...             1                0
9           0          0  ...             0                0
10          0          1  ...             0                0
11          1          0  ...             1                0
12          1          0  ...             0                1
13          0          0  ...             0                1

[14 rows x 11 columns]
   Play
0     N
1     N
2     Y
3     Y
4     Y
5     N
6     Y
7     N
8     Y
9     Y
10    Y
11    Y
12    Y
13    N

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(newdata,newtarget , test_size=0.25, random_state=94)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

    Outlook_O  Outlook_R  ...  Humidity_Low  Humidity_Normal
13          0          0  ...             0                1
1           0          1  ...             0                0
10          0          1  ...             0                0
6           1          0  ...             0                1
12          1          0  ...             0                1
3           0          0  ...             0                1
5           0          0  ...             1                0
0           0          1  ...             0                1
2           1          0  ...             0                1
11          1          0  ...             1                0

[10 rows x 11 columns]
   Outlook_O  Outlook_R  ...  Humidity_Low  Humidity_Normal
7          0          1  ...             0                1
4          0          0  ...             0                1
8          0          1  ...             1                0
9          0          0  ...             0                0

[4 rows x 11 columns]
   Play
13    N
1     N
10    Y
6     Y
12    Y
3     Y
5     N
0     N
2     Y
11    Y
  Play
7    N
4    Y
8    Y
9    Y

In [8]:
clf = DecisionTreeClassifier(criterion = "entropy", random_state = 94, max_leaf_nodes=94)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
print(y_pred)

['Y' 'N' 'N' 'Y']

In [9]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred,average="binary",pos_label="N"))
print("Precision:",metrics.precision_score(y_test, y_pred,average="binary",pos_label="N"))
print("Confusion Matrix:",metrics.confusion_matrix(y_test, y_pred))

Accuracy: 0.25
Recall: 0.0
Precision: 0.0
Confusion Matrix: [[0 1]
 [2 1]]

**Questions: For Task - 1 (1) What will be the value of Play, if Outlook is ’Rainy’, Temperature is ’Mild’, Humidity =’Normal’, and Wind = ’False’?**

In [10]:
test_data = [[0,1,0,0,0,1,1,0,0,0,1]]
output = clf.predict(test_data)
print(output)

['Y']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

**2).What will be the value of Play, if Outlook is ’Sunny’, Temeprature is ’Cool’, Humidity=’High’, and Wind = ’True’?**

In [11]:
test_data = [[0,0,1,1,0,0,0,1,1,0,0]]
output = clf.predict(test_data)
print(output)

['N']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

**Task 2: Apply algorithm on digits dataset - LabelEncoding of features: and Train test Division 80%-20%**

In [2]:
from sklearn.datasets import load_digits
from sklearn.tree import DecisionTreeClassifier
data = load_digits()
# print the names of the  features
print("Features:",data.feature_names)
# print the label type of iris(class_0, class_1, class_2)
print("Labels:",data.target_names)

Features: ['pixel_0_0', 'pixel_0_1', 'pixel_0_2', 'pixel_0_3', 'pixel_0_4', 'pixel_0_5', 'pixel_0_6', 'pixel_0_7', 'pixel_1_0', 'pixel_1_1', 'pixel_1_2', 'pixel_1_3', 'pixel_1_4', 'pixel_1_5', 'pixel_1_6', 'pixel_1_7', 'pixel_2_0', 'pixel_2_1', 'pixel_2_2', 'pixel_2_3', 'pixel_2_4', 'pixel_2_5', 'pixel_2_6', 'pixel_2_7', 'pixel_3_0', 'pixel_3_1', 'pixel_3_2', 'pixel_3_3', 'pixel_3_4', 'pixel_3_5', 'pixel_3_6', 'pixel_3_7', 'pixel_4_0', 'pixel_4_1', 'pixel_4_2', 'pixel_4_3', 'pixel_4_4', 'pixel_4_5', 'pixel_4_6', 'pixel_4_7', 'pixel_5_0', 'pixel_5_1', 'pixel_5_2', 'pixel_5_3', 'pixel_5_4', 'pixel_5_5', 'pixel_5_6', 'pixel_5_7', 'pixel_6_0', 'pixel_6_1', 'pixel_6_2', 'pixel_6_3', 'pixel_6_4', 'pixel_6_5', 'pixel_6_6', 'pixel_6_7', 'pixel_7_0', 'pixel_7_1', 'pixel_7_2', 'pixel_7_3', 'pixel_7_4', 'pixel_7_5', 'pixel_7_6', 'pixel_7_7']
Labels: [0 1 2 3 4 5 6 7 8 9]

In [3]:
#import the necessary module
from sklearn.model_selection import train_test_split
#split data set into train and test sets
X_train, X_test, y_train, y_test = train_test_split(data.data,data.target , test_size=0.2, random_state=94)

In [4]:
clf = DecisionTreeClassifier(criterion = "entropy", random_state = 175, max_leaf_nodes=175)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
print(y_pred)

[8 5 3 1 8 5 2 1 6 0 4 2 3 3 3 0 1 6 6 7 8 8 6 6 3 8 6 7 6 1 6 9 3 5 7 5 8
 1 4 7 3 2 6 5 2 8 6 4 0 3 1 9 9 0 8 4 2 9 7 2 5 6 9 8 0 6 0 6 4 0 6 4 7 2
 5 8 3 3 7 5 4 4 6 4 5 6 9 5 3 3 9 2 6 8 9 5 6 4 7 2 5 6 3 7 8 7 9 2 9 4 5
 3 8 2 8 2 2 1 6 0 4 6 9 8 9 5 5 8 1 8 9 9 5 0 0 1 6 8 8 6 3 3 7 8 4 9 1 4
 2 5 7 3 2 5 2 1 8 3 3 2 9 9 3 2 4 5 5 0 6 6 3 6 3 3 0 8 3 7 3 0 7 5 2 2 5
 0 6 3 9 6 4 7 1 3 2 0 4 0 9 3 7 2 3 6 7 2 2 5 6 5 3 7 5 2 8 1 5 5 4 6 9 8
 2 6 8 2 6 6 8 8 9 6 0 2 9 8 0 1 3 2 9 2 2 1 4 0 4 0 3 0 6 9 5 1 8 0 3 7 7
 8 4 2 6 1 9 5 5 7 5 1 9 3 7 0 8 9 9 4 2 6 2 1 0 4 9 0 9 0 5 0 4 0 5 5 5 0
 7 5 6 7 0 9 7 7 9 2 0 1 1 4 4 6 4 5 6 5 7 2 6 0 6 8 9 8 0 9 6 3 6 8 5 8 6
 3 6 6 3 7 2 8 8 9 1 4 8 8 4 4 1 1 5 9 0 4 4 5 3 3 3 3]

In [5]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
precision = precision_score(y_test, y_pred,average=None)
recall = recall_score(y_test, y_pred,average=None)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

Accuracy: 0.8888888888888888
precision: [1.         0.875      0.89189189 0.87804878 0.96875    1.
 0.89583333 0.96428571 0.56410256 0.88888889]
recall: [0.97142857 0.84       0.84615385 0.81818182 0.83783784 0.95348837
 0.93478261 0.9        0.81481481 0.94117647]